<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="{{url_for('static', filename='favicon.ico') }}" rel="icon">
    <title>Packt> IoT Server</title>

    <!-- Bootstrap Core CSS -->

	<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
	<link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<link rel="icon" href="data:,">

    <!-- Plugin CSS -->
	<link href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
	<link href="{{url_for('static', filename='css/creative.css') }}" rel="stylesheet">

    <!-- Theme Bootstrap switch -->
	<link href="{{url_for('static', filename='css/bootstrap-switch.css') }}" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"/>

	<script src="static/js/modernizr.js"></script> <!-- Modernizr -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" onload="keep_alive(); time();">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav ">
                    <!--<li>-->
                        <tr>
                         <th>
                             <a href="#" onclick="logout();" class="navbar-brand page-scroll">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                         </th>
                        <th>
                            <a class="navbar-brand page-scroll">Connection:<span id="Connection_id">... </span></a>
                        </th>
                        <th>
                            <a class="navbar-brand page-scroll" href="#page-top" id="user_name_id">
                            <span>{% for message in get_flashed_messages() %}
                                    {{ message }}
                                  {% endfor %}
                            </span>
                            </a>
                        </th>
                        </tr>
                </ul>
            </div>
        </div>
    </nav>

    <header>
    <div class="container">
    <section id="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome to IoT Platform</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        
       <div class="jumbotron" style="background-image: url(https://thefoodiehub.com.au/wp-content/uploads/2012/08/black-background-wood-clean-by-freeman.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 ">
					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Controls</div>
                        <ul class="list-group">
                           <li class="list-group-item clearfix list-group-item-info" >
                              <div class="pull-left" >
                                  <span>Motion </span>
                              </div>
                              <div class="pull-right" >
                                  <span id="motion_id"> </span>
                              </div>
                           </li>
                           <li class="list-group-item clearfix list-group-item-info" >
                              <div class="pull-left" >
                                  <span>Buzzer </span>
                              </div>
                              <div class="pull-right" >
                                <input type="checkbox" data-on-color="info" id="event-buzzer" data-on-text="ON" data-off-text="OFF">
                              </div>
                           </li>
                        </ul>
					</div>
					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Light </div>
						<div class="list-group-item  list-group-item-info" >
							<div id="light_chart"></div>
						</div>
					  </div>
                </div>
                <div class="col-lg-6 col-md-6 ">
					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Atmosphere</div>
					  <!-- List group -->
						<div class="list-group-item  list-group-item-info" >
							<div id="atmosphere_chart"></div>
						</div>
					  </div>
                </div>
            </div>
        </div>

	   </div>

        {% if user_id == "10214511884608981" %}
        <div class="jumbotron" style="background-image: url(https://thefoodiehub.com.au/wp-content/uploads/2012/08/black-background-wood-clean-by-freeman.jpg)">
            <div class="row">
                <div class="center-block" style="width:600px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Online users </div>
                        <ul class="list-group">
                            {%  for n in online_users["user_record"] %}
                                <li class="list-group-item clearfix list-group-item-info" >
                                  <div class="pull-left" >
                                      <span> {{n[0]}} </span>
                                  </div>
                                  <div class="pull-right" >
                                    <input class="checkbox-inline" type="checkbox" id="read-user-{{n[1]}}" data-on-text="yes" data-off-text="no" {{n[2]}}>
                                    <input class="checkbox-inline" type="checkbox" id="write-user-{{n[1]}}" data-on-text="yes" data-off-text="no" {{n[3]}}>
                                    <button type="button btn-primary" id="access-user-{{n[1]}}" class="btn btn-default "><i class="glyphicon glyphicon glyphicon-ok-circle"></i></button>
                                  </div>
                                </li>
                             {% endfor  %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="center-block" style="width:600px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Add New Device </div>
                        <ul class="list-group">
                                <li class="list-group-item clearfix list-group-item-info" >
                                  <div class="pull-left" >
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Auth key" id="device-auth-key">
                                    </div>
                                  </div>
                                  <div class="pull-right" >
                                    <input class="checkbox-inline" type="checkbox" id="read-device" data-on-text="yes" data-off-text="no" unchecked>
                                    <input class="checkbox-inline" type="checkbox" id="write-device" data-on-text="yes" data-off-text="no" unchecked>
                                    <button type="button btn-primary" id="access-device" class="btn btn-default "><i class="glyphicon glyphicon glyphicon-ok-circle"></i></button>
                                  </div>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </section>

</div>
</header>


    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-switch.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>
    
    <script src="static/js/pubnub.js"></script>

    <!-- Main JavaScript -- Load this in the end -->
    <script src="static/js/main.js"></script>


</body>

</html>
